table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
  color: black;
  padding: 10px;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}

.th {
  text-align: justify;
}

.Pag1 {
  text-align: center;
}

.Pag2 {
  text-align: center;
}

.Pag3 {
  text-align: center;
}

.Pag4 {
  text-align: center;
}

.tabla1 {
  border: 1px solid black;
  border-collapse: collapse;
  color: black;
  padding: 10px;
  text-align: center;
  background-color: red;
  height: 200px;
  width: 250px;
}
.Goku11 {
  background-color: lightgreen;
  
}

.vegetta22 {
  background-color: lightblue;

}

.maestro33 {
  background-color: salmon;

}

.janemba44 {
  background-color: brown;

}
