table,th,td {
    border: 1px solid black;
    border-collapse :collapse;
    color: black;
    height: 110px;
    width: 800px;
    text-align: center;
    }

    .m06  {
background-color: cyan;
}

.m08{

background-color: lightgreen;

}

.m07{

background-color: lightgray;

}

.m10EiE {

background-color: orange;


}

.INF-PT09 {

background-color: lightcoral;

}