.Basic {
background-color: orange;


}

.Basic1{
    background-color: lightgreen;
    
    
    }

    .Basic2{
        background-color: lightpink;
        
        
        }

        .Basic3{
            background-color: lightblue;
            
            
            }        

            .Basic4{
                background-color: lightgray;
                
                
                }