.front {
    width: 600px;
    height: 600px;
  }
.left {

    width: 400px;
    height: 600px;
float: left;
}


.right {

width: 200px;
height: 600px;
float: right;
}
  .front1 {
      background-color: green;
width:400px;
height: 70px;
float: left;
margin-bottom: 10px;
margin-right: 10px;

  }

  .front2 {
    background-color:lightgreen;
    width: 190px;
    height: 150px;
    float: left;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 0px;
  } 

  .front3 {
    background-color:lightgreen;
    width: 200px;
    height: 230px;
    float: right;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
   
  } 
  .front4 {
    background-color:lightgreen;
    width: 190px;
    height: 70px;
    float: left;
    margin-top: 0px;
    margin-bottom: 10px;
    
  } 

  .front8 {
    background-color:lightgreen;
    width: 190px;
    height: 70px;
    float: right;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .front5 {
    background-color:black;
    width: 190px;
    height: 150px;
    float: left;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
    
  } 

  .front6 {
    background-color:lightgreen;
    width: 200px;
    height: 70px;
    float: right;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 0px;
  } 

  .front7 {
    background-color:lightgreen;
    width: 200px;
    height: 70px;
    float: right;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
  } 

  .front9 {
    background-color:lightgreen;
    width: 190px;
    height: 70px;
    float: right;
    margin-top: 0px;
    margin-bottom: 10px;
  }


  .front10 {
    background-color:lightgreen;
    width: 190px;
    height: 70px;
    float: right;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .front11 {
    background-color:black;
    width: 190px;
    height: 150px;
    float: left;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 10px;
    
  } 


  .front12 {
    background-color:lightgreen;
    width: 190px;
    height: 70px;
    float: right;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 0px;
  } 