#imagen1 {
  margin-left: 1%;
}

#imagen2 {
  margin-left: 3%;
}

#imagen3 {
  margin-right: 17%;
}

#footer {

text-align: center;
background-color:black;
color: orange;

}
.body{

    background-color: #0b0b0b;

}

.text22 {

    color: aliceblue;       
            }