.body {
  background-color: black;
}

.imagen1 {
  margin-left: 25%;
  width: 1000px;
  height: 400px;
  margin-top: 0px;
}

.texto1 {
  text-align: center;
}

.gtasan {
  width: 350px;
  height: 350px;
}
.pclas {
  font-family: monospace;
  font-size: 30px;
}

.footer {
  text-align: center;
  background-color: black;
  color: orange;
}
.text22 {
  color: aliceblue;
}
